body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#host li {
  list-style-type: none;
}

#join button {
  height:50px;
  width:100px;
  margin-right: 10px;
}

#answers button.correct {
  background-color: green;
  height:50px;
  width:100px;
  margin-bottom: 10px;
  color: white;
}

#answers button.incorrect {
  background-color: red;
  height:50px;
  width:100px;
  margin-bottom: 10px;
  color: white;
}

#answers button.notSelected {
  height:50px;
  width:100px;
  margin-bottom: 10px;
}

#clue button.selected {
  height:50px;
  width:100px;
  margin-bottom: 10px;
  background-color: blue;
  color: white;
}

#clue button.notSelected {
  height:50px;
  width:100px;
  margin-bottom: 10px;
}

#Welcome img {
  background-repeat: repeat-y;
}

#scores table, th, td {
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
}

/* #scores div {
  overflow: hidden;
  position: relative;
} */

/* #scores img {
  opacity: 0.1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
} */


#scores table {
  position: relative;
}